@media (max-width: 980px) {
	section.content { padding-top: 0; }
}

@media (min-width: 980px) {
	section.content { padding-top: 50px; }
}

.container-fluid > .sidebar, .container-fluid > .content {
  padding-top: 60px;
}

.container-fluid > .sidebar {
  left: auto;
  right: 20px;
  width: 220px;
}

.container-fluid > .content {
  left: 20px;
  margin-left: auto;
  margin-right: 240px;
}

footer {
  margin-top: 3px;
  padding-top: 3px;
  padding-bottom: 20px;
}

footer.footer {
	margin-top: 45px;
	padding: 35px 0 36px;
	border-top: 1px solid #E5E5E5;
}

section.content h1 {
	border-bottom: 1px solid #EEE;
}

section.content article.post {
	margin-bottom: 50px;
}

section.content article p {
	text-align: justify;
	line-height: 175%;
}
